.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin:0px 50px 0px 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.card:hover{
    color: #000;
    background-color:rgb(240, 189, 148);
}

.elem{
    margin: 50px 0px 0px 0px;
}

.content{
    text-align: center;
    margin-top: 200px;
}

.schooling{
    text-align: center;
    margin: 100px 0px -100px 0px;
    font-size: 70px;
    letter-spacing: 25px;
}