<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Skills</title>

  <!--CDN BOOTSTRAP-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!--MY CUSTOM CSS-->
  <link rel="stylesheet" type="text/css" href="skills.component.css">
</head>

<body>
  <div class="content">
    
    <h1 class="skills">Capabilities</h1>

    <div class="html">
    <div class="card">
      <h1>HTML</h1>
      <div class="html-img">
        <img src="assets/images/html.png">
      </div>
    </div>
  </div>

    <div class="css">
    <div class="card">
      <h1>CSS</h1>
      <div class="css-img">
        <img src="assets/images/css.png">
      </div>
    </div>
   </div>

  <div class="javascript">
    <div class="card">
      <h1>JAVASCRIPT</h1>
      <div class="javascript-img">
        <img src="assets/images/js.png">
      </div>
    </div>
  </div>

  </div>

</body>
</html>